<main class="container">
  <%= link_to sanitize("&larr; Back to quiz"), quiz_path(@quiz) %>
  <div class="header">
    <h1>Edit quiz</h1>
  </div>
  <%= turbo_frame_tag "quiz_#{@quiz.id}" do %>
    <%= render "form", quiz: @quiz %>
  <% end %>
</main>