<%= link_to sanitize("&larr; Back to quiz"), quiz_path(@quiz) %>

  <div class="header">
    <h1>Edit item</h1>
  </div>
  
<%= turbo_frame_tag @answer do %>
    <%= render "form",quiz: @quiz,question: @question,answer: @answer %>
<% end %>